#poster {
  width: 100%;
  height: 100vh;
  object-fit:cover;

  @media only screen and (max-width: 600px) {
    object-fit: cover;

  }
}

#welcome-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;

  }
}


#form {
  padding: 65px;
  @media only screen and (max-width: 600px) {
    padding:0px;
    height:100vh
  }
}
