<div class="wrapper">
    <div class="form">
        <h3>Add new Employee </h3>

        <div class="form-inputs">
            <label>Enter Employee Name</label>
            <input [(ngModel)]='empName' placeholder="type employee name here" type="'text" />
        </div>
        <div class="form-inputs">
            <label>Enter Employee Age</label>
            <input [(ngModel)]='empAge' placeholder="type employee age here" type="'text" />
        </div>
        <div class="form-inputs">
            <label>Enter Employee Salary</label>
            <input [(ngModel)]='empSal' placeholder="type phone number here" type="'text" />
        </div>
        <div class="btn-div">
            <button  (click)="onClose()" style="background-color: red; color:white" (click)="submit()">Close</button>
            <button  (click)="submit()">Submit</button>

        </div>

    </div>
</div>