:host {
    position: fixed;
    top: 0 !important;
    right: 0 !important;
    margin: 0.5em;
    z-index: 1400;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    @media only screen and (max-width: 600px) {
        width: 100%;
        margin:0px;
        margin-top: 4px;

    }
}

p {
    letter-spacing: 3px;
    font-size: 60px;
    align-self: center;
    margin-left: 10px;
}

.toast-body {
    text-align: center;
}